<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bitanswer.auth.android">

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application>
    <activity android:name=".provider.AuthenticationActivity"
              android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboard|keyboardHidden"
              android:exported="false"
              android:launchMode="singleTask"
              android:theme="@android:style/Theme.Translucent.NoTitleBar">
    </activity>

    <activity android:name=".provider.RedirectActivity"
              android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
                android:host="${bitHost}"
                android:pathPrefix="/android/${applicationId}/callback"
                android:scheme="${bitScheme}" />
      </intent-filter>
    </activity>
  </application>
</manifest>